#displaybox {
  margin: 50px auto;
  width: 900px;
  background-color: #ffaeae;
  background-image: -webkit-gradient(linear, bottom, top, from(#ffaeae), to(#FFFFFF));
  background-image: -webkit-linear-gradient(bottom, #ffaeae, #FFFFFF);
  background-image:    -moz-linear-gradient(bottom, #ffaeae, #FFFFFF);
  background-image:     -ms-linear-gradient(bottom, #ffaeae, #FFFFFF);
  background-image:      -o-linear-gradient(bottom, #ffaeae, #FFFFFF);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(255,255,174,0.5);
  -moz-box-shadow:    0px 0px 8px rgba(255,255,174,0.5);
  box-shadow:         0px 0px 8px rgba(255,255,174,0.5);
  border: solid 1px #c40505;
  position: relative;
  z-index: 90;
}

#displaybox img {
  float: left;
  margin: 10px 20px 10px 20px;
}

#displaybox .header {
  background-color: #c40505;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  padding: 10px;

  color: white;
  font-size: 2em;
}

#displaybox .message {
  padding: 20px;
  font-size: 1.3em;
  line-height: 2;
}