#faultreport {
	width: 90%;
	margin-left: auto ;
	margin-right: auto ;
}

#faultreport .guides {
 	width: 100%;
}

#faultreport .guide  {
	width: 24%;
	padding: 5px;
	float: left;
}

#faultreport .guide img {
	text-align: center;
}

#faultreport .guide  h3 {
	font-size: 1.2em;
	font-family: arial;
	padding: 0px 0px 10px 0px;
	margin: 0px;
	font-weight: normal;
}

#faultreport .button {
	float: left;
	margin-left: auto ;
	margin-right: auto ;
	padding: 5px;
	background-color: #8EBF45;
	background-image: -webkit-gradient(linear, left, right, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:    -moz-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:     -ms-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:      -o-linear-gradient(left, #BFDC7A, #8EBF45);
	color: #D1F699;
	border: 1px solid #8EBF45;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}

#faultreport .guide .button {
	margin: 5px 0px;
}

#faultreport .ticket {
 	margin-top: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #333333;
 }
 
 #faultreport .status {
 	width: 10%;
 	float: left;
 }
 
#faultreport .status span {
 	clear: left;
 	float: left;
 	font-size: 0.8em;
 	padding: 5px  0px;
 	text-align: center;
 	width: 100%;
 }
 
#faultreport .ribbon {
 	margin: 10px 0px;
 }
 
#faultreport .ticketdetail {
 	width: 85%;
 	float: left;
 	margin-left: 10px;
 }
 
#faultreport .ticketdetail h3 {
 	font-size: 1.2em;
 	font-weight: bold;
 	margin: 0px;
 	padding: 0px;
 }
 
#faultreport .ticketdetail p {
 	font-weight: normal;
 	font-size: 1em;
 	margin: 0px;
 	padding: 0px;
 }
 
#faultreport .ticketdetails {
 	width: 100%;
 	background: #;
 	border-top: 1px solid #;
 }
 
#faultreport .actionicons {
 	width: 10%;
 	float: left;
 }
 #faultreport .actionicon {
 	width: 32%;
 	float: left;
 }
#faultreport .ticketinfo {
 	width: 90%;
 	float: left;
 	font-size: 0.8em;
 }
 #faultreport .ticketinfo p {
 	margin: 0px;
 	padding: 0px;
 }
#faultreport .ticketinfo div {
 	width: 18%;
 	float: left;
 	padding-left: 10px;
 }
 
 /* Statuses Available */
 #faultreport .completed {
	background-color: #8EBF45;
	background-image: -webkit-gradient(linear, left, right, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:    -moz-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:     -ms-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:      -o-linear-gradient(left, #BFDC7A, #8EBF45);
	color: #D1F699;
	border: 1px solid #8EBF45;
 }
 
#faultreport .new {
	background-color: #8EBF45;
	background-image: -webkit-gradient(linear, left, right, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:    -moz-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:     -ms-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:      -o-linear-gradient(left, #BFDC7A, #8EBF45);
	color: #D1F699;
	border: 1px solid #8EBF45;
 }
 
#faultreport .progress {
	background-color: #8EBF45;
	background-image: -webkit-gradient(linear, left, right, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:    -moz-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:     -ms-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:      -o-linear-gradient(left, #BFDC7A, #8EBF45);
	color: #D1F699;
	border: 1px solid #8EBF45;
 }
 
#faultreport .awaiting {
	background-color: #8EBF45;
	background-image: -webkit-gradient(linear, left, right, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:    -moz-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:     -ms-linear-gradient(left, #BFDC7A, #8EBF45);
	background-image:      -o-linear-gradient(left, #BFDC7A, #8EBF45);
	color: #D1F699;
	border: 1px solid #8EBF45;
 }
